@page "/admin/assign-user-role/{id}"
@model  App.Admin.User.AddRoleModel
@{
    ViewData["Title"] = "Thiết lập role cho user";
}

<h4>Thiết lập mật khẩu cho thành viên : @Model.user.UserName  </h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleNames"></label>
                @Html.ListBoxFor(m =>m.RoleNames , Model.allRoles, new{
                    id = "id-select-roles",
                    @class="w-100"
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhập</button>
            <a asp-page="./Index">Danh sách thành viên</a>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css"/>
    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen : false,
            isOpen : false,
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}