@page
@model App.Pages_Salary.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Sửa thông số lương của nhân viên </h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="Salary.User.UserName" class="control-label"></label>
                <input asp-for="Salary.User.UserName" class="form-control" disabled>
                <span asp-validation-for="Salary.User.UserName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Salary.SalaryId" />
            <div class="form-group">
                <label asp-for="Salary.Salary_scale" class="control-label"></label>
                <input asp-for="Salary.Salary_scale" class="form-control" />
                <span asp-validation-for="Salary.Salary_scale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary.Basic_salary" class="control-label"></label>
                <input asp-for="Salary.Basic_salary" class="form-control" />
                <span asp-validation-for="Salary.Basic_salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary.Coe_salary" class="control-label"></label>
                <input asp-for="Salary.Coe_salary" class="form-control" />
                <span asp-validation-for="Salary.Coe_salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary.Allowance_coe" class="control-label"></label>
                <input asp-for="Salary.Allowance_coe" class="form-control" />
                <span asp-validation-for="Salary.Allowance_coe" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
