@page
@model App.Pages_WorkCheck.EditModel

@{
    ViewData["Title"] = "Chỉnh sửa bảng chấm công";
}

<h1>Cập nhập chấm công nhân viên </h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkCheck.WorkCheckId" />
            <div class="form-group">
                <label asp-for="WorkCheck.UserId" class="control-label"></label>
                <input asp-for="WorkCheck.User.UserName" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="WorkCheck.WorkDate" class="control-label"></label>
                <input asp-for="WorkCheck.WorkDate" class="form-control" />
                <span asp-validation-for="WorkCheck.WorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkCheck.WorkStatusId" class="control-label"></label>
                <select asp-for="WorkCheck.WorkStatusId" class="form-control" asp-items="ViewBag.WorkStatus" ></select>
                <span asp-validation-for="WorkCheck.WorkStatusId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
